body {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
    text-align: center; 
    width: 60%; 
    margin: 0 auto; 
    color: #aba6a6; 
    background: #474545; 
    font-size: 1.5em;
}
